@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Jost", sans-serif;
}

input::placeholder {
  color: #eeeeee;
  transition-duration: 300ms;
}

input:hover::placeholder,
input:focus::placeholder {
  color: rgb(209 213 219);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/light/times.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  transition-duration: 300ms;
  cursor: pointer;
}

input[type="search"]:hover::-webkit-search-cancel-button,
input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.1;
  pointer-events: all;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 0.2;
}

::-moz-selection {
  color: #444;
  background: #eeeeee;
}

::selection {
  color: #444;
  background: #eeeeee;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
